{erl_opts, [debug_info]}.
{deps, [
  {granderl,
    {git, "https://github.com/adgear/granderl.git", {tag, "v0.2.0"}}}
]}.

{plugins, [
  {steamroller,
    {git, "https://github.com/old-reliable/steamroller.git", {tag, "v0.11.5"}}},
  {gradualizer,
    {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}
]}.

{steamroller, [
  {steamroll_dir, "./"},
  {line_length, 80}
]}.

{gradualizer_opts, [
  {i, "./include"},
  {print_file, true}
]}.

{provider_hooks, [
  {pre, [
    {compile, {default, steamroll}}
  ]},
  {post, [
    {compile, {default, gradualizer}}
  ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [seer]}
]}.
