{erl_opts, [debug_info]}.
{deps, [
  {granderl,
    {git, "https://github.com/adgear/granderl.git", {tag, "v0.2.0"}}}
]}.

{plugins, [
  {rebar3_format,
    {git, "https://github.com/AdRoll/rebar3_format.git", {tag, "0.2.1"}}},
  {gradualizer,
    {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}
]}.



{gradualizer_opts, [
  {i, "./include"},
  {print_file, true}
]}.


{profiles, [
  {dev, [
    {format, [
      {options, #{
        break_indent => 4,
        paper => 120,
        ribbon => 110
      }},
      {files, ["src/**/*.?rl", "include/**/*.?rl", "test/**/*.?rl"]}
    ]},
    {provider_hooks, [
      {pre, [
        {compile, {default, format}}
      ]},
      {post, [
        {compile, {default, gradualizer}}
      ]}
    ]}
  ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [seer]}
]}.
