{erl_opts, [debug_info]}.
{deps, [
  {granderl,
    {git, "https://github.com/adgear/granderl.git", {tag, "v0.2.0"}}}
]}.

{plugins, [
  {erlfmt,
    {git, "https://github.com/WhatsApp/erlfmt.git", {tag, "v0.7.0"}}},
  {gradualizer,
    {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}
]}.

{erlfmt, [
  write,
  {files, "{src,include,test}/**/*.{hrl,erl}"}
]}.

{gradualizer_opts, [
  {i, "./include"},
  {print_file, true}
]}.

{profiles, [
  {dev, [
    {provider_hooks, [
      {pre, [
        {compile, {default, fmt}}
      ]},
      {post, [
        {compile, {default, gradualizer}}
      ]}
    ]}
  ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [seer]}
]}.
